@media(max-width:1100px){
    .container {
        width: 100%;
        
        padding: 0 20px;
    }
    .mid-btn {
        margin-left: 0px;
    }
    .team-member {
        width: 30%;
        margin-right: 2%;
    }
}
@media(max-width:1100px){
    .team-member {
        width: 30%;
    }
}

@media(max-width:992px){
    .text1 {
        margin-left: 50px;
    }
    .mid-btn {
        margin-left: 56px;
    }
    .pic {
       
        width: 45%;
    }
    .team-member {
        width: 30%;
    }
    .content p {
        font-size: 20px;
       
    }
}

@media(max-width:768px){
    .header-logo {
        width: 100%;
        text-align: center;

    }
    .header-menu {
        width: 100%;
        text-align: center;
    }
    .header-menu ul {
        text-align: center;
    }
    .text1 {
        text-align: center;
    }
    .text1 h1 {
        font-size: 30px;
        font-weight: 600;
    }
    .text1 h3 {
        font-size: 23px;
    }
    .mid-btn {
        width: 400px;
        margin: auto;
    }
    .content {
        width: 100%;
    }
    .image {
        width: 100%;
        margin-top: 20px;
    }
    .service-item {
      
        width: 100%;
        margin-bottom: 20px;
       
    }
    .icon {
        width: 10%;
    }
    .service-text {
        width: 87%;
        margin-top: 12px;
    }
    .img-1 {
        width: 47%;
        
    }
    .text-2 h3 {
        font-size: 25px;
    }
    .text-2 h2 {
        font-size: 40px;
    }
  
}

@media(max-width:576px){
    .work p {
        width: 400px;
     
    }
    .heading {
        font-size: 38px;
     
}
.icon {
    width: 12%;
}

.pic {
       
    width: 100%;
}
.img-1 {
    width: 100%;
    
}
.team-member {
    width: 100%;
}
.content p {
    font-size: 18px;
  

}

